.search_tabs {width: 500px; margin: 4px 0 0 0; padding 0;}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px;
	width: 100%;
	font-size: 13px;
}

ul.tabs li {
	margin: 0;
	padding: 0;
	float: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
}

ul.tabs li a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	outline: none;
}

ul.tabs li a:hover {

}

.tab_content {
	padding: 0px 0px;
}


ul.tabs li.active{
	background-repeat: no-repeat; 
	background-position: center;
}

ul.tabs li.active a, ul.tabs li.active a:link, ul.tabs li.active a:visited, ul.tabs li.active a:active{
	color: #000;
}
#st_all { text-align: center;} 
#st_books { text-align: center;} 
#st_articles { text-align: center;} 
#st_jtitles { text-align: center;} 
#st_av { text-align: center;} 

li#st_all.active 		{ background-image: url(../images/bg_search_all_on.gif);  }
li#st_books.active 		{ background-image: url(../images/bg_search_books_on.gif); }
li#st_articles.active 	{ background-image: url(../images/bg_search_articles_on.gif); }
li#st_jtitles.active 	{ background-image: url(../images/bg_search_journalTitles_on.gif); }
li#st_av.active 		{ background-image: url(../images/bg_search_audioVideo_on.gif); }

ul.tabs li.active a:hover { color: #000; text-decoration:none;}

#BF_Styles_Below {}

div.librarySearchForm	 { padding: 0 0 0 0; margin: 0;}
.easyInput { width: 400px; height:25px; font-size: 12px; color: #666; padding: 3px;}
